/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 30px;
}
#nav a{
    text-decoration: none;
}
#nav h3{
    background-color: rgba(100, 54, 54, 0.834);
    color: white;
    padding: 10px 15px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 50px;
}
#nav a:hover{
    transform: scale(1.1);
    transition: .4s;
}
#nav a:hover h3{
    transform: scale(1.1);
    transition: .4s;
    border: 1px solid #000000;
    background-color: #d4b191;
    color: rgba(24, 12, 12, 0.834) ;
}
#intro{
    padding: 40px 55px;
    height: 32%;
    width: 100%;
    /* background-color: rgb(76, 76, 75); */
}
#intro h1{
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: rgba(5, 5, 5, 0.816);
}
#intro p{
    font-size: 30px;
    color: rgb(98, 48, 144);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#intro h1 span{
    font-size: 80px;
    color: rgb(201, 152, 47);
    /* color: rgba(64, 107, 49, 0.899); */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
#place{
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #131313;
}
#place h3{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 50;
}

.about h3{
    font-size: 25px;
    margin-bottom:10px;
    font-weight: 400;
}
.about p{
    font-family:'Lato', sans-serif;
    color:var(--ternary);
    line-height: 1.8;
}
.about h1{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    letter-spacing: 0.9px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
    /* font-size:40px; */
    font-weight:500;
}
.bio p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    letter-spacing: 0.6969px;
}
.bio span{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 25px;
}
#about-me{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .about-me-img{
    padding: 45px;
    height:470px;
    width: 400px;
    background-size: cover;
    margin-inline-end: 100px;
    border-radius: 90px;
    opacity: 0.8;
    filter: blur(0.8px);
}
#my-img .about-me-img:hover{
    transform: scale(1.05);
    transition: .4s;
    filter: drop-shadow(8px 8px 10px rgb(107, 75, 11));
}
.about{
    margin-top: 0;
    background-color: rgba(110, 59, 15, 0.607);
}
.skills{
    padding-top: 30px;
    border-top: 3px solid #6c14147f;
    font-size: 20px;
    font-weight: 200;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 25px;
}
ul {
    margin-top: 30px;
    list-style: none;
    padding: 0;
    justify-content: center;
    display: flex;
    
}

ul li {
    font-family:'Lato', sans-serif;
    color: #131313af;
    background: #c6b7b770;
    display: inline-block;
    margin: 35px;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 20px;
    border-left: 2px solid;
    border-bottom: 2px solid;
}
ul li:hover{
    border-left: 2px solid #6c1414;
    border-bottom: 2px solid #6c1414;
    color: #4c4545c9;
    background: linear-gradient(#e664cea7, #c47cb07b);
    transform: scale(1.4);
    transition: .4s;
}
.section-3{
    border-bottom: 3px solid #6c14147f;
}
section-4{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#projects{
    font-size: 18px;
    font-weight: 200;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#projects h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 25px;
}

.project-1{
    padding: 0 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    border-bottom: 2px solid #9c1e1e5a;
}
.project-content1{
    width: 900px;
    height: 260px;
    border-radius: 10px;
    padding: 25px 30px;
    margin-left: 20px;
    background: linear-gradient(#e7a03de3, #b6a86c4a);
}
.project-content1:hover{
    transform: scale(1.04);
    transition: .2s;
}
.project-content1 h3{
    font-size: 23px;
    color: #280404b9;
}
.project-content1 p{
    letter-spacing: 0.2px;
    line-height: 1.3;
    font-family:'Lato', sans-serif;
    margin-top: 20px;
    font-size: 17px;
}
.img-1{
    margin-left: 60px;
    margin-right: 100px;
}
.img-1 img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.img-1 img:hover{
    transform: scale(1.1);
    transition: .3s;
    filter: drop-shadow(8px 8px 10px rgb(107, 75, 11));
}
.project-2{
    padding: 0 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end ;
    border-bottom: 2px solid #9c1e1e5a;
}
.project-content2{
    width: 900px;
    height: 260px;
    border-radius: 10px;
    padding: 25px 30px;
    margin-right: 20px;
    background: linear-gradient(#5c70d1, #7f84ba48);
}
.project-content2:hover{
    transform: scale(1.04);
    transition: .2s;
}
.project-content2 h3{
    color: #280404b9;
    font-size: 23px;
}
.project-content2 p{
    letter-spacing: 0.2px;
    line-height: 1.3;
    font-family:'Lato', sans-serif;
    margin-top: 20px;
    font-size: 17px;
}
.img-2{
    margin-right: 60px;
    margin-left: 80px;
}
.img-2 img{
    width: 330px;
    height: 300px;
    border-radius: 10px;
}
.img-2 img:hover{
    transform: scale(1.1);
    transition: .3s;
    filter: drop-shadow(8px 8px 10px rgb(107, 75, 11));
}
.project-3{
    padding: 0 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    border-bottom: 3px solid #6c14147f;
}
.project-content3{
    width: 900px;
    height: 260px;
    border-radius: 10px;
    padding: 25px 30px;
    margin-left: 20px;
    background: linear-gradient(#5fbd65, #9ec47c5e);
}
.project-content3:hover{
    transform: scale(1.04);
    transition: .2s;
}
.project-content3 h3{
    color: #280404b9;
    font-size: 23px;
}
.project-content3 p{
    letter-spacing: 0.2px;
    line-height: 1.3;
    font-family:'Lato', sans-serif;
    margin-top: 20px;
    font-size: 17px;
}
.img-3{
    margin-left: 60px;
    margin-right: 100px;
}
.img-3 img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.img-3 img:hover{
    transform: scale(1.1);
    transition: .3s;
    filter: drop-shadow(8px 8px 10px rgb(107, 75, 11));
}
.resume{
    font-size: 18px;
    font-weight: 200;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 25px;
}
.download{
    margin-top: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #6c14147f;
}
.download a{
    font-family:'Lato', sans-serif;
    letter-spacing: 0.6px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    display: inline-block;
    padding: 0.8rem 1.3rem;
    margin-bottom: 40px;
    background: #1a1a1aef;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.download a:hover{
    color: black;
    background: linear-gradient(#6478e6d2, #9198e57b);
    border: 1px solid rgb(0, 0, 0);
    transform: scale(1.25);
    transition: .4s;
}

.contact{
    font-size: 18px;
    font-weight: 200;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 25px;
}

.info{
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}
.info b{
    color: #000000ef;
    font-size: 19px;
}
.info p{
    color: #131313dd;
    font-family:'Lato', sans-serif;
    font-size: 19px;
}
#icons{
    background-color: rgba(255, 0, 0, 0.134);
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center ;
}
#icons img{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center ;
}
#icons img:hover{
    transform: scale(1.75);
    transition: .3s;
}
footer {
    background: #050202f1;
    color: #fff;
    text-align: center;
    padding: 9.5px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.227);
}

footer .copyright {
    font-weight: 400;
    letter-spacing: 2px;
    font-family: Arial, sans-serif;
}
.copyright p{
    margin: 5px 5px;
}
